<table className="bordered">
    <tbody>
        <tr>
            <th>Pick</th>
            <th>Opponent</th>
            <th>Spread</th>
            <th>Result</th>
            <th>Number of Picks</th>
        </tr>

		<% @distribution_hash.each do |week, distros| %>
			<% distros.each do |key, count| %>
				<% game = Game.find(key[0]) %>
				<% picked_team = Team.find(key[1]) %>
				<tr>
					<td><%= picked_team.name %></td>
					<td><%= picked_team.name %></td>
					<td><%= game.home_spread %></td>
					<td> win </td>
					<td> <%= count %> </td>
				</tr>
			<% end %>
		<% end %>

	</tbody>
</table>