<div class="col s9">
	<% if @user %>
	<span id="user-picks-name"> Viewing <b> <%= @user.name %>'s </b> picks</span>
	<% end %>
	<% @weeks.each do |week| %>
		<%= react_component('GameList', {
			games: @picks.where(:week => week).map { |pick| 
				game = pick.game.as_json({:include => [:home_team, :away_team]})
				game['pick'] = pick.as_json
				game
			},
			week: week
		}) %>
	<% end %>
</div>