<div class="col s9">
	<% @weeks.each do |week| %>
		<%= react_component('GameList', {
			games: @picks.where(:week => week).map { |pick| 
				pick.game.as_json({:include => [:home_team, :away_team]}) 
			},
			week: week
		}) %>
	<% end %>
</div>