/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize";

$navy: rgb(102,124,137);
$teal: rgb(68,150,139);
//#013369
nav {
    background-color: #013369;

    .title {
        margin-left: 24px;
        font-size: 22px;
    }
}

#sidebar {
    margin-top: 50px;

    a {
        color: inherit;
    }

    a:visited {
        color: inherit;
    }

    li {
        cursor: pointer;
        margin: 10px;
        margin-right: 0px;

        span {
            margin-left: 15px;
            position: relative;
            top: -6px;
        }
    }

    .active {
        color: $teal;
    }
}
