/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize";

$break-small: 320px;
$break-large: 1200px;

$navy: rgb(102,124,137);
$pickem: #013369;
$pickem2: #000080;
$teal: rgb(68,150,139);
//#013369
body{
  background-position: white;
}
nav {
    background-color: #000080;
    position: fixed;
    z-index: 10000;
    height: 66px;
    .title {
        margin-left: 24px;
        font-size: 20px;
    }
}
.nav-wrapper{
}
.superPickemLogo {
  margin-left: 9px;
  margin-top: 7px;
  width: 150px;
  height: 50px;
}
#sidebar {
  position: fixed;
  top: 25px;
  margin-top: 50px;
  white-space: nowrap;
  color: white;
  font-size: 11px;
  z-index: 500;
    #backbar{
        background-color: #000080;
        width: 50px;
        height: 100%;
        position: fixed;
        top: 64px;
        left: 0;
        -webkit-box-shadow: 3px 1px 6px 1px rgba(87,87,89,0.99);
        -moz-box-shadow: 3px 1px 6px 1px rgba(87,87,89,0.99);
        box-shadow: 3px 1px 6px 1px rgba(87,87,89,0.99);
    }
    .active {
          color: white;
          font-size: 12px;
          font-weight: bold;
          text-shadow: 1px 1px #ad8629;
    }
    a {
        color: inherit;
        z-index: 50;
    }
    a:visited {
        color: inherit;
    }
    #icons {
      color: white;
    }
    li {
        cursor: pointer;
        margin: 10px;
        margin-right: 0px;
        span {
            margin-left: 10px;
            position: relative;
            top: -6px;
            display: none;
        }
      }
    }
#picks{

}
#standings{
  .dd{
    margin-left: 5px;
  }
}

// HOVER
#backbar:hover{
z-index: 100px;
  width: 140px !important;
  -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
  transition: width 1s;
  li span {
    display: inline-block;
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 1s;
  }
  .card.weekly-picks-card {
    margin-left: 85px;
  }
}
#standings{
  width: 89% !important;
  @media screen and (min-width: 800px) {
    width: 88% !important;
  }
  @media screen and (min-width: 900px) {
    width: 94% !important;
  }
  @media screen and (min-width: 950px) {
    width: 92% !important;
  }
}

// MOBILE VIEW PORTRAIT
@media (hover:none) and (orientation: portrait) {
    nav{
      height: 65px;
      /* top: 66px; */
      z-index: 5000;
    }
    .dropdown-content{
      top: 67px !important;
    }
    #backbar {
       width: 50px;
    }
}
// MOBILE VIEW landscape
@media (hover:none) and (orientation: landscape) {
  #backbar {
    width: 50px;
  }
}
//iphone 5/SE
//landscape
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  #picks {
    height: 74%;
    width: 500px;
  }
  #standings{
    width: 88% !important;
    height: 75% !important;
  }
  .dd {
    margin-left: 0px !important;
  }
  .dd a{
    position: absolute;
    top: 20px;
    left: 321px;
    white-space: nowrap;
  }
  .curweek {
    position: absolute;
    top: 0px;
  }
  .curweek button{
    position: absolute;
    top: 21px;
    left: 150px;
    white-space: nowrap;
  }
}
//iphone 5/SE
//portrait
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
    nav{
      height: 65px;
      z-index: 5000;
    }
    #picks {
      width: 250px !important;
      height: 490px !important;
    }
    #standings{
      width: 78% !important;
      height: 485px;
    }
    .card.distribution-card{
      margin: 31px;
      width: 245px;
      height: 488px;
    }
    .dd {
      margin-left: 0px !important;
    }
    .dd a{
      position: absolute;
      top: 2px;
      left: 150px;
      height: 31px;
      width: 90px;
      font-size: 10px;
      white-space: nowrap;
    }
    .dd a p{
      width: 100%;
      display: inline-block;
      position: absolute;
      left: 0px;
    }
    .curweek {
      position: absolute;
      top: 0px;
    }
    .curweek button{
      position: absolute;
      top: 34px;
      left: 150px;
      height: 29px;
      width: 90px;
      font-size: 10px;
      white-space: nowrap;
    }
    .curweek button p {
      width: 100%;
      display: inline-block;
      position: absolute;
      left: 0px;
      top: -2px;
    }
    #dropdown1{
      overflow: hidden;
    }
    .dropdown-content li > a, .dropdown-content li > span {
      left: 10px;
    }
    .dropdown-content li {
      position: relative;
    }
}
//iphone 6/7/8 - landscape
  // @media only screen
  // and (min-device-width :667px)
  // and (max-device-width : 667px)
  // and (orientation : landscape) {
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  #picks {
    height: 295px !important;
    width: 597px !important;

    .select-team {
      display: none;
    }
    #columnName #teamName{
        display: none !important;
    }
  }
  #standings {
    height: 78% !important;
  }
  .card.distribution-card{
    margin: 31px;
    width: 570px;
    height: 240px;
  }
  .dd {
    margin-left: 0px !important;
  }
  .dd a{
    position: absolute;
    top: 20px;
    left: 321px;
    white-space: nowrap;
  }
  .curweek {
    position: absolute;
    top: 0px;
  }
  .curweek button{
    position: absolute;
    top: 20px;
    left: 150px;
    white-space: nowrap;
  }
}
//iphone 6/7/8 - portrait
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait) {
    nav{
      height: 65px;
      z-index: 5000;
    }
    #picks {
      width: 300px !important;
      height: 85% !important;
    }
    #standings{
      width: 304px !important;
      height: 85% !important;
    }
    .card.distribution-card{
      width: 290px;
      height: 85%
    }
    .dd {
      position: absolute;
      top: 0px;
      left: 1px;
      margin-left: 0px !important;
    }
    .dd > a{
      position: absolute;
      top: 2px;
      left: 170px;
      height: 31px;
      width: 111px;
      font-size: 10px;
      white-space: nowrap;
    }
    .dd a p{
      width: 100%;
      display: inline-block;
      position: absolute;
      left: 0px;
    }
    .curweek {
      position: absolute;
      top: 16px;
      left: 148px;
      cursor: pointer;
    }
    .curweek button{
      position: absolute;
      top: 19px;
      left: 23px;
      height: 29px;
      width: 111px;
      font-size: 10px;
      white-space: nowrap;
    }
    .curweek button p {
      width: 100%;
      display: inline-block;
      position: absolute;
      left: 0px;
      top: -2px;
    }
    #dropdown1{
      overflow: hidden;
    }
    .dropdown-content li > a, .dropdown-content li > span {
      left: 10px;
    }
    .dropdown-content li {
      position: relative;
    }
}
//iphone X - landscape
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
      #picks {
        width: 740px;
        height: 295px;
      }
      #standings{
        width: 738px !important;
        height: 292px !important;
      }
      .card.distribution-card{
        margin: 31px;
        width: 245px;
        height: 488px;
      }
      .dd {
        margin-left: 0px !important;
      }
      .dd a{
        position: absolute;
        top: 20px;
        left: 321px;
        white-space: nowrap;
      }
      .curweek {
        position: absolute;
        top: 0px;
      }
      .curweek button{
        position: absolute;
        top: 20px;
        left: 150px;
        white-space: nowrap;
      }
}
//iphone x - portrait
@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3)
and (orientation : portrait) {
    nav{
      height: 65px;
      z-index: 5000;
    }
    #picks {
      width: 80% !important;
      height: 89% !important;
    }
    #standings{
      width: 300px !important;
      height: 729px !important;
    }
    .card.distribution-card{
      margin: 31px;
      width: 300px;
      height: 732px;
    }
    .dd {
      position: absolute;
      top: 0px;
      left: 11px;
      margin-left: 0px !important;
    }
    .dd a{
      position: absolute;
      top: 1px;
      left: 160px;
      height: 31px;
      width: 114px;
      font-size: 10px;
      white-space: nowrap;
    }
    .dd a p{
      width: 100%;
      display: inline-block;
      position: absolute;
      left: 0px;
    }
    .curweek {
      position: absolute;
      top: 17px;
      left: 121px;
      cursor: pointer;
    }
    .curweek button{
      position: absolute;
      top: 18px;
      left: 50px;
      height: 29px;
      width: 114px;
      font-size: 10px;
      white-space: nowrap;
    }
    .curweek button p {
      width: 100%;
      display: inline-block;
      position: absolute;
      left: 0px;
      top: -2px;
    }
    #dropdown1{
      overflow: hidden;
    }
    .dropdown-content li > a, .dropdown-content li > span {
      left: 10px;
    }
    .dropdown-content li {
      position: relative;
    }
}
//Pixel 2 - portrait
//pixel 2 - landscape
@media screen
  and (max-height: 730px)
  and (min-height: 730px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: landscape) {
    #picks {
      width: 658px;
      .select-team {
        display: none;
      }
      #columnName #teamName{
          display: none !important;
      }
    }
    #standings {
      height: 328px;
    }
}
//Pixel 2 XL - portrait
@media only screen
and (min-height: 820px)
and (-webkit-min-device-pixel-ratio: 1.77)
and (orientation:portrait) {
    #picks {
      width: 337px;
      height: 740px;
    }
    #standings {
      width: 338px;
      height: 742px;
    }
}
//ipad (normal) portrait
@media only screen
and (min-device-width : 768px)
and (max-device-width : 768px)
and (orientation : portrait){
  #picks {
    width: 695px;
    height: 942px;
  }
  #standings {
    width: 695px;
    height: 942px;
  }
  .dd {
    margin-left: 0px !important;
  }
  .dd a{
    position: absolute;
    top: 20px;
    left: 321px;
    white-space: nowrap;
  }
  .curweek {
    position: absolute;
    top: 0px;
  }
  .curweek button{
    position: absolute;
    top: 20px;
    left: 150px;
    white-space: nowrap;
  }
}
//ipad (normal) landscape

//ipad PRO - portrait
@media only screen
and (min-device-width: 1024px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2)
{
  #picks {
    width: 948px;
    height: 1270px;
  }
  #standings {
    width: 948px;
    height: 1270px;
  }
  .card.distribution-card{

  }
  .dd {
    margin-left: 0px !important;
  }
  .dd a{
    position: absolute;
    top: 20px;
    left: 321px;
    white-space: nowrap;
  }
  .curweek {
    position: absolute;
    top: 0px;
  }
  .curweek button{
    position: absolute;
    top: 20px;
    left: 150px;
    white-space: nowrap;
  }
}
//ipad PRO - landscape
@media only screen
and (min-device-width: 1366px)
and (max-device-width: 1366px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2)
{
  #picks {
    width: 1287px;
    height: 940px;
  }
  #standings {
    width: 1287px;
    height: 940px;
  }
  .card.distribution-card{
    margin: 31px;
    width: 1287px;
    height: 940px;
  }
  .dd {
    margin-left: 0px !important;
  }
  .dd a{
    position: absolute;
    top: 20px;
    left: 321px;
    white-space: nowrap;
  }
  .curweek {
    position: absolute;
    top: 0px;
  }
  .curweek button{
    position: absolute;
    top: 20px;
    left: 150px;
    white-space: nowrap;
  }
}
