/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize";

$break-small: 320px;
$break-large: 1200px;

$navy: rgb(102,124,137);
$teal: rgb(68,150,139);
//#013369
body{
  background-position: white;
}
nav {
    background-color: #013369;
    position: fixed;
    z-index: 10;
    .title {
        margin-left: 24px;
        font-size: 20px;
    }
}

.superPickemLogo {
  margin-left: 25px;
  margin-top: 7px;
  width: 150px;
  height: 50px;
}

#sidebar {
  position: fixed;
  top: 25px;

  @media screen and (min-width: 1000px) {
         font-size: 15px !important;
        }

    margin-top: 50px;
    white-space: nowrap;
    a {
        color: inherit;
    }

    a:visited {
        color: inherit;
    }
    #icons {
      @media screen and (max-width: 800px) {
          font-size: 40px !important;
          height: 40px;
         }
    }

    li {

        cursor: pointer;
        margin: 10px;
        margin-right: 0px;

        span {
            margin-left: 10px;
            position: relative;
            top: -6px;
            @media screen and (max-width: 600px) {
                display: none;
                visibility: hidden;
               }
            @media screen and (max-width: 800px) {
               font-size: 10px !important;
              }
        }
        .material-icons{
          // size: 60px;
        }
    }

    .active {
        color: $teal;
        font-size: 14px;
      @media screen and (min-width: 1000px) {
               font-size: 20px !important;
      }
    }
  }
