$teal: rgb(68,150,139);

.logos {
  border-radius: 25%;
  height: 20px;
  border: 1px solid white;

  display: block;
  margin: 0 auto;

}

#homeSpead{
  text-align: center;
  display: inline-block;

}

.score {
  text-align: center;
  white-space: nowrap;
  height: 10px;

}

.scoreTitle {
  // padding-left: 8px;
  text-align: center;
  white-space: nowrap;
  
}

.blankColumn{
  width: 30px;
}

.card.weekly-picks-card {
  //backup
    // margin: 40px;
    margin: 20px;
    .card-content {
        padding: 0px;

        .title-row {
            border-bottom: 1px solid lightgray;
            height: 65px;
            margin-bottom: 0px;

            .card-title {
                margin: 20px;
                position: relative;
                top: 10px;
            }
        }
    }

    .pick-active {
        background: rgb(232,232,232);
    }

    .team-selected {
        color: $teal;
        font-weight: 600;
    }

    .select-team {
        cursor: pointer;
        white-space: nowrap;
        text-align: center;
    }

    .game-icon {
        font-size: 18px;
        top: 2px;
        position: relative;
        margin-left: 10px;
    }

    .pick-win .game-icon {
        color: #4caf50;
    }

    .pick-loss .game-icon {
        color: #e53935;
    }

}
