$teal: rgb(68,150,139);
$break-small: 320px;
$break-large: 1200px;

.logos {
  height: 25px;
  display: block;
  margin: 0 auto;
}

#homeSpread{
  text-align: center;

}
.score {
  text-align: center;
  white-space: nowrap;
  height: 10px;

}
#awayLogo{
  padding-left: 20px;
}

.scoreTitle {
  text-align: center;
  white-space: nowrap;

}

.blankColumn{
  width: 30px;
}
.distribution-card {
  top: 40px;
}
.card.weekly-picks-card {
  //backup
    // margin: 40px;

    margin: 20px;
    top: 60px;

    .card-content {
      padding: 0px;
      border: 2px;
      border-color: black !important;
      font-size: 15px !important;

        .homeSpead_th{
          white-space: nowrap;
        }
        .title-row {
            border-bottom: 1px solid lightgray;
            height: 65px;
            margin-bottom: 0px;
            border-radius: 0px !important;
            white-space: nowrap;


            .card-title {
                margin: 20px;
                position: relative;
                top: 10px;
                height: 30px;
            }
        }
        td{
          font-size: 20px;
          border-radius: 0px !important;
          // @media screen and (min-width: 1000px) {
          //     font-size: 20px;
          //    }
          // @media screen and (max-width: 857px) {
          //     font-size: 17px;
          //     padding: 5px;
          //    }
          // @media screen and (max-width: 666px) {
          //        font-size: 10px !important;
          //        padding: 0;
          //     }
        }
    }
    .pick-active {
        // color: black;
        // background: rgba(30,144,255, 0.7);
        background: rgb(232,232,232); //grey
    }
    .team-selected {
        color: $teal;
        font-weight: 600;
        border: 5px;

    }
    .select-team {
        cursor: pointer;
        white-space: nowrap;
        text-align: left;
    }

    .game-icon {
        font-size: 18px;
        top: 2px;
        position: relative;
        margin-left: 10px;
    }

    .pick-win .game-icon {
        color: #4caf50;
    }

    .pick-loss .game-icon {
        color: #e53935;
    }
    #hidden10{
      color: red;
    }
    .datePretty{
      font-size: 15px;
      // @media screen and (min-width: 1085px) {
      //        font-size: 15px !important;
      //        white-space: none !important;
      // }
      // @media screen and (min-width: 1085px)
      //   and (max-width: 661px) {
      //        font-size: 12px !important;
      //        white-space: none !important;
      // }
      // @media screen and (max-width: 660px) {
      //        // font-size: 10px !important;
      //        font-size: 10px !important;
      //        white-space: none !important;
      // }
    }
}
