$teal: rgb(68,150,139);

.logos{
  border-radius: 25%;
  height: 15%;
  border: 1px solid white;
}

.score {
  text-align: center;
  // padding-right: 40px;
}
.scoreTitle {
  // padding-left: 8px;
  text-align: center;
}
.blankColumn{
  width: 30px;
}
.card.weekly-picks-card {
    margin: 40px;

    .card-content {
        padding: 0px;

        .title-row {
            border-bottom: 1px solid lightgray;
            height: 65px;
            margin-bottom: 0px;

            .card-title {
                margin: 20px;
                position: relative;
                top: 10px;
            }
        }
    }

    .pick-active {
        background: rgb(232,232,232);
    }

    .team-selected {
        color: $teal;
        font-weight: 600;
    }

    .select-team {
        cursor: pointer;
    }

    .game-icon {
        font-size: 18px;
        top: 2px;
        position: relative;
        margin-left: 10px;
    }

    .pick-win .game-icon {
        color: #4caf50;
    }

    .pick-loss .game-icon {
        color: #e53935;
    }

}
