$teal: rgb(68,150,139);
$pickem: #013369;
$pickem2: #000080;
.user-ranking {
    text-align: center;
    width: 50px;
    font-weight: 500;
}

.current-user {
    color: $teal;
    font-weight: 700;

    a {
        color: $teal;
    }
}
.card.distribution-card {
    margin: 40px;
}
#user-picks-name {
    margin-left: 40px;
    position: relative;
    top: 20px;
}
.dropdown-content {
  cursor: pointer;
}
.dropdown-button {
  cursor: pointer;
}
@media screen and (max-width: 800px)
and (hover: hover) {
  .curweek {
    position: absolute;
    top: 15px;
    left: 140px;
    cursor: pointer;
  }
  .dd {
    position: absolute;
    top: 15px;
    left: 310px;
    cursor: pointer;
  }
}
@media (hover:none) and (orientation: portrait) {
  .dropdown-content {
    background-color: #fff;
    margin: 0;
    display: none;
    /* min-width: 100px; */
    max-height: 650px;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    z-index: 999;
  }
}
