$teal: rgb(68,150,139);

.user-ranking {
	text-align: center;
	width: 50px;
	font-weight: 500;
}

.current-user {
	color: $teal;
	font-weight: 700;

	a {
		color: $teal;
	}
}

.card.distribution-card {
	margin: 40px;
}

#user-picks-name {
	margin-left: 40px;
	position: relative;
	top: 20px;
}