$nfl: rgb(1,51,105);
$teal: rgb(68,150,139);
.btn {
  background-color: $nfl !important;
  color: white;
}
#dropDown {
  background-color: #013369 !important;
  color: white;
}
.dropdown-button {
  background-color: #013369 !important;
  color: white;
}
